    let {{{VAR_NAME}}} =
      helpers.reconstructFromShares(
        '{{{FILE_PATH}}}',
        jiffInstance,
        {{{USE_BIG_NUMBER}}},
        {{{COMPUTE_PARTIES}}}
      );
    inputs.push({{{VAR_NAME}}})