    let {{{VAR_NAME}}} =
      helpers.sharePlaintext(
        '{{{FILE_PATH}}}'
        jiffInstance,
        {{{USE_BIG_NUMBER}}},
        {{{INPUT_PARTY}}},
        {{{ALL_PARTIES}}}
      );
    inputs.push({{{VAR_NAME}}});