  let jiffBigNumberServer = require('{{{JIFF_PATH}}}/lib/ext/jiff-server-bignumber');
  jiffServerInstance.apply_extension(jiffBigNumberServer);
  app.use('/bignumber.js', express.static('{{{JIFF_PATH}}}/node_modules/bignumber.js'));