let mpc = require('./mpc');
let helpers = require('./helpers');
let fs = require('fs');
{{{BIG_NUMBER}}}

// JIFF options
let options = {
  party_count: {{{NUM_PARTIES}}},
  party_id: {{{PARTY_ID}}},
  Zp: {{{ZP}}}
};
{{{FIXED_POINT}}}

options.onConnect = function (jiffInstance) {
  let promise = mpc.compute();
  promise.then(function (v) {

    if ({{{WRITE}}}) {
      let output = '{{{OUTPUT_PATH}}}';
      let headers = '{{{HEADERS}}}';
      fs.writeFile(output, helpers.formatTwoD(v, headers), function(err) {
        if (err) {
          console.log(err);
        }
      });
    }
    jiffInstance.disconnect(false, true);
  });
};

// Connect
mpc.connect('{{{SERVER_IP_PORT}}}', '{{{COMPUTATION_ID}}}', options);
