      let {{{OUT_REL}}}_result = methods.filterAgainstCol({{{IN_REL}}}, {{{IN_REL}}}_keep_rows, {{{KEY_COL}}}, {{{AGAINST_COL}}}, '{{{OPERATOR}}}');
      let {{{OUT_REL}}} = {{{OUT_REL}}}_result[0];
      let {{{OUT_REL}}}_keep_rows = {{{OUT_REL}}}_result[1];

