      let {{{OUT_REL}}}_result =
        methods.join({{{LEFT_IN_REL}}}, {{{RIGHT_IN_REL}}}, {{{LEFT_IN_REL}}}_keep_rows, {{{RIGHT_IN_REL}}}_keep_rows, {{{LEFT_KEY}}}, {{{RIGHT_KEY}}});
      let {{{OUT_REL}}} = {{{OUT_REL}}}_result[0];
      let {{{OUT_REL}}}_keep_rows = {{{OUT_REL}}}_result[1];

