      let {{{OUT_REL}}}_result = methods.limit({{{IN_REL}}}, {{{IN_REL}}}_keep_rows, {{{NUM}}});
      let {{{OUT_REL}}} = {{{OUT_REL}}}_result[0];
      let {{{OUT_REL}}}_keep_rows = {{{OUT_REL}}}_result[1];

