      let {{{OUT_REL}}}_result = methods.project({{{IN_REL}}}, {{{IN_REL}}}_keep_rows, {{{SELECTED_COLS}}});
      let {{{OUT_REL}}} = {{{OUT_REL}}}_result[0];
      let {{{OUT_REL}}}_keep_rows = {{{OUT_REL}}}_result[1];

